.primary{
    color: #FFCB6B;
}
.primary-bg{
    background-color: #FFCB6B;
}
.secondary{
    color: #1F2933;
}
.secondary-bg{
    background-color: #1F2933;
}
.text-color{
    color: #E0E6ED;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    height: 2.75rem;
    
}

.active{
    border-bottom-color: #cc9a05;
}

.btn:hover {
    background-color: #FFCB6B;
    color: black;
}

.bd-mode-toggle {
    z-index: 1500;
}


.blog-header-logo {
    font-family:  "Montserrat", sans-serif;
    font-style: italic;
    font-size: 2.25rem;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:  "Montserrat", sans-serif;
}
div .accordion-body{
    font-family: "Roboto", sans-serif;
}

li {
    margin-top: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.input-group {
    margin-bottom: 1rem;
}

textarea {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 10px;
    resize: none;
}

#banner h1, p{
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

#buttons h3{
    font-size: 22px;
}

button {
    width: 70px;
}

@media (max-width: 450px) {
    #buttons h3 {
        font-size: 20px;
    }
}


.dns-group {
    margin-bottom: 1rem;
}

.dns-links textarea {
    border-radius: 0.25rem;
    padding: 10px;
    resize: none;
    max-width: 50rem;
}

.dns-links button {
    width: 70px;
}

.img-fluid {
    max-height: 600px;
    padding-top: 1rem;
}

#backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #FFCB6B;
    color: white;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
}

#backToTop:hover {
    background-color: #cc9a05;
}

/* Home */

.home button{
    min-width: 100%;
    background-color: #ced4da;
    padding-top: 20px;

}

.glide li{
    text-align: center;
}

.glide img{
    max-width: 300px;
}

@media (min-width: 1024px) {
    .glide__bullets {
        display: none;
    }
}

.glide__bullets {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center; 
}

.glide__bullet {
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    border: none;
    width: 10px;
    height: 10px;
    margin: 5px 5px;
    cursor: pointer;
    box-sizing: border-box;
    aspect-ratio: 1 / 1;
}

.glide__bullet:hover,
.glide__bullet--active {
    background: #FFCB6B;
}


#repos{
    overflow-y: hidden;
}

.accordion{
    max-width: 800px;
    margin: auto;
}

.accordion-button {
    border:2px solid #cc9a05;
    font-size: 20px;
  }
  

  .accordion-button:focus {
    background-color: #dd8e1b;
    outline: none;
    box-shadow: none;

  }
  
  .accordion-item {
    margin-bottom: 20px;

  }
  
  .accordion-body {
    line-height: 28px;
  }

#vpn-guide .glide img{
max-width: 450px;
}

@media (max-width: 990px){
    #vpn-guide .glide img{
        max-width: 330px;
        }
}